*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-width: 92vw;
    min-height: 92vh;
    margin: 0 ;
    padding: 0;
    border: 30px solid #a7d6d9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .heading{
    margin-left: 30px;
    margin-top: 30px;
  }
  .input{
    margin-left: 30px;
    width: 120px;
    height: 30px;
    padding-left: 5px;
    margin-top: 10px;
  }
  .btn{
    margin-left: 5px;
    height: 30px;
    width: 60px;
    background-color: rgb(63, 136, 215);
    color: white;
    border-radius: 5px;
  }

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e8f5e9; 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;

  }
  
 
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px; 
  }
  

  .todo-item label {
    font-size: 16px;
    color: #333;
    flex-grow: 1;
  }
  
  .delete-btn {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .delete-btn:hover {
    background-color: darkred; 
  }
  .count{
    margin-left: 30px;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
  }
  